*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 30px;

}
.grid-container{
    height: 100vh;
    border: 10px solid lightgreen;
}
.grid-item{
    background-color: brown;
    border: 4px solid teal;
    padding: 20px;
}